@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

html {
    height: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: "PT Sans", "Arial", sans-serif;
}

body {
    background-color: #011e00;
    background-position: center;
    background-image: url(../img/tausta.jpg);
    color: #ffffff;
    min-height: 653px;
    min-width: 465px;
    height: 100%;
    width: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.roulette_wrapper {
    position: absolute;
    padding: 0;
    width: 465px;
    height: 653px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.roulette_base {
    position: absolute;
    padding: 0;
    width: 465px;
    height: 633px;
    margin: 10px 0;
    background-image: url(../img/rulettipohja.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    color: #63b4b8;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
}

.pointer {
    position: absolute;
    margin: 0 auto;
    width: 263px;
    height: 263px;
    left: 102px;
    top: 59px;
    background-image: url(../img/nakkiviisari.png);
    background-repeat: no-repeat;
    background-position: center 7px;

}

.players {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-transform: none;
}

.players > div {
    position: absolute;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    text-align: center;
}

.content {
    position: absolute;
    text-align: center;
    top: 380px;
    width: 100%;
}

h1 {
    font-size: 34px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
    top: 430px;
    font-size: 16px;
    color: #3d6b7a;

}

.share {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: #326173;
    font-weight: 600;
    font-size: 15px;

}

.share p {
    position: absolute;
    margin:  28px 0 0 38px;
    padding: 0;
    width: 370px;
    text-shadow: 0 1px 0 #001c2b;
}

.share a {
    position: absolute;
    margin: 22px 6px;
    display: block;
    width: 31px;
    height: 31px;
}

.share a:active {
    top: 1px;
}

.share a.facebook {
    left: 400px;
    background: url(../img/fb_ikoni.png) no-repeat top left;
}

.share a.facebook:hover {
    background: url(../img/fb_ikoni_rollover.png) no-repeat top left;
}

.share a.twitter {
    left: 364px;
    background: url(../img/twitter_ikoni.png) no-repeat top left;
}

.share a.twitter:hover {
    background: url(../img/twitter_ikoni_rollover.png) no-repeat top left;
}

.button {
        font-family: "PT Sans Narrow", "Arial", sans-serif;
	background-color:#265f7a;
        border-width: 0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-indent:0;
	display:inline-block;
	color:#cde4f2;
	font-size:17px;
	font-weight:600;
	font-style:normal;
	height:52px;
	line-height:52px;
	text-decoration:none;
        text-transform: uppercase;
	text-align:center;
	text-shadow:0px 1px 0px #193d4b;
        cursor: pointer;
        margin-top: 32px;
}
.button:hover {
	background-color:#2f718d;
}
.button:active {
	position:relative;
	top:1px;
}

.roulette_base .button {
    width: 165px;
}

.players_settings .button {
    line-height: 42px;
    height: 42px;
    width: 130px;
}
/* This button was generated using CSSButtonGenerator.com */


.players_settings {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 653px;
    margin: 0;
}
.players_settings .dim {
    position: absolute;
    min-width: 465px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #000000;
}

.window_set_players {
    position: absolute;
    z-index: 2;
    margin: -266px auto 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    width: 330px;
    height: 480px;
    background-color: #0a3b53;
    border-width: 0;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    text-align: center;
    padding-top: 22px;
}

.player_list {
    list-style: none;
    width: 200px;
    padding: 0;
    margin: 15px auto;
}

.player_list li {
    background: url(../img/listaikoni.png) no-repeat bottom left;
    height: 24px;
    padding-left: 38px;
    padding-top: 8px;
    border-bottom: 1px solid #6895a0;
    text-align: left;
    cursor: pointer;
}

.player_list li input {
    background: none;
    border: none;
    color: #78bac6;
    font-size: 14px;
    font-weight: 600;
    height: 16px;

}

.player_list li input:focus {
    color: #eaeafa;
    border:0;
    outline: none;
}

.ok_wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #0e4057;
    border-top: 1px solid #0e4057;
    border-width: 0;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
    border-bottom-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -moz-border-radius-bottomleft:8px;
    border-bottom-left-radius:8px;
    text-align: center;
}

#btn_ok {
    position: relative;
    margin-top: 14px;
}

#btn_add_player {
    width: 47px;
    height: 47px;
    margin-right: 20px;

    background: url(../img/plus.png) top left no-repeat;
}

#btn_add_player:hover {
    background: url(../img/plus_rollover.png) top left no-repeat;
}

#btn_remove_player {
    width: 47px;
    height: 47px;
    margin-left: 20px;
    background: url(../img/miinus.png) top left no-repeat;
}

#btn_remove_player:hover {
    background: url(../img/miinus_rollover.png) top left no-repeat;
}

#player_icon {
    background: url(../img/hahmoikoni.png) top left no-repeat;
    display: inline-block;
    width: 75px;
    height: 65px;
}

@media(max-height:639px){
    .roulette_wrapper {
        bottom: auto;
    }
}