/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #011e00;
    background-position: center;
    background-image: url(../img/tausta.jpg);
    color: #ffffff;
    min-height: 653px;
    height: 100%;
    width: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.roulette_wrapper {
    position: absolute;
    padding: 0;
    width: 465px;
    height: 653px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.roulette_base {
    position: absolute;
    padding: 0;
    width: 465px;
    height: 633px;
    margin: 10px 0;
    background: url(../img/rulettipohja.png) no-repeat top left;
    color: #63b4b8;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
}

.pointer {
    position: absolute;
    margin: 0 auto;
    width: 263px;
    height: 263px;
    left: 102px;
    top: 59px;
    background-image: url(../img/nakkiviisari.png);
    background-repeat: no-repeat;
    background-position: center 7px;

}

.players {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-transform: none;
}

.players > div {
    position: absolute;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.content {
    position: absolute;
    text-align: center;
    top: 380px;
    width: 100%;
}

h1 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
    top: 430px;
    font-size: 14px;
    color: #3d6b7a;

}

.share {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: #326173;
    font-weight: 700;

}

.share p {
    position: absolute;
    margin:  28px 0 0 42px;
    padding:0;
    width: 300px;
}

.share a {
    position: absolute;
    margin: 22px 6px;
    display: block;
    width: 31px;
    height: 31px;
}

.share a:active {
    top: 1px;
}

.share a.facebook {
    left: 388px;
    background: url(../img/fb_ikoni.png) no-repeat top left;
}

.share a.facebook:hover {
    background: url(../img/fb_ikoni_rollover.png) no-repeat top left;
}

.share a.twitter {
    left: 348px;
    background: url(../img/twitter_ikoni.png) no-repeat top left;
}

.share a.twitter:hover {
    background: url(../img/twitter_ikoni_rollover.png) no-repeat top left;
}

.button {
	background-color:#265f7a;
        border-width: 0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-indent:0;
	display:inline-block;
	color:#cde4f2;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:42px;
        width:165px;
	line-height:42px;
	text-decoration:none;
        text-transform: uppercase;
	text-align:center;
	text-shadow:0px 1px 0px #193d4b;
        cursor: pointer;
        margin-top: 28px;
}
.button:hover {
	background-color:#2f718d;
}
.button:active {
	position:relative;
	top:1px;
}

.roulette_base .button {
    width: 165px;
}

.players_settings .button {
    width: 130px;
}
/* This button was generated using CSSButtonGenerator.com */


.players_settings {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 653px;
    margin: 0;
}
.players_settings .dim {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #000000;
}

.window_set_players {
    position: absolute;
    z-index: 2;
    margin: -266px auto 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    width: 330px;
    height: 480px;
    background-color: #0a3b53;
    border-width: 0;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    text-align: center;
    padding-top: 22px;
}

.player_list {
    list-style: none;
    width: 200px;
    padding: 0;
    margin: 15px auto;
}

.player_list li {
    background: url(../img/listaikoni.png) no-repeat bottom left;
    height: 22px;
    padding-left: 38px;
    padding-top: 12px;
    border-bottom: 1px solid #6895a0;
    text-align: left;
}

.player_list li input {
    background: none;
    border: none;
    color: #6895a0;
    font-size: 12px;
    font-weight: 600;
    height: 15px;

}

.player_list li input:focus {
    color: #eaeafa;
    border:0;
    outline: none;
}

.ok_wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #0e4057;
    border-top: 1px solid #0e4057;
    border-width: 0;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
    border-bottom-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -moz-border-radius-bottomleft:8px;
    border-bottom-left-radius:8px;
    text-align: center;
}

#btn_ok {
    position: relative;
    margin-top: 14px;
}

#btn_add_player {
    width: 47px;
    height: 47px;
    margin-right: 20px;

    background: url(../img/plus.png) top left no-repeat;
}

#btn_add_player:hover {
    background: url(../img/plus_rollover.png) top left no-repeat;
}

#btn_remove_player {
    width: 47px;
    height: 47px;
    margin-left: 20px;
    background: url(../img/miinus.png) top left no-repeat;
}

#btn_remove_player:hover {
    background: url(../img/miinus_rollover.png) top left no-repeat;
}

#player_icon {
    background: url(../img/hahmoikoni.png) top left no-repeat;
    display: inline-block;
    width: 75px;
    height: 65px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
